<div class="head">Log in</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field1">
    <%= f.label :login, "Employee Id" %><br />
    <%= f.text_field :login, autofocus: true %>
  </div>

  <div class="field field2">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>



  <div class="actions action1">
    <%= f.submit "Log in", class: "btn btn-primary pl-5 pr-5" %>
  </div>
<% end %>

