<div id="nav-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Hackthon <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<%if current_emp %>
<%= link_to "logout", destroy_emp_session_path, method: :delete %>
<%=form_with model: Challenge do |form|%>
<%=form.text_field :title, placeholder: "Title"%> <br>
<%=form.text_field :description, placeholder: "desciption"%><br>
<%=form.hidden_field :emp_id, value:current_emp.id%><br>
<%=form.submit "Add Challenges"%>
<% end %>
<%else%>
    <%= link_to "login", new_emp_session_path%>
<% end %>
<h1>Challenges</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Emp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.title %></td>
        <td><%= challenge.description %></td>
        <td><%= challenge.emp_id %></td>
        <td><%= link_to 'Show', challenge %></td>
        <% if current_emp %>
          <%if current_emp.id == challenge.emp_id%>
            <td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>
            <td><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>  
        <% end %>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="footer">
   @copyright 2021 Navin Ojha
</div>