<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand"><%= link_to "Home", root_path %></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link ml-2">Hackthon<span class="sr-only">(current)</span></a>
    </li>
  </ul>
  <span class="navbar-text">
    <% if current_emp %>
       <%= link_to "#{current_emp.empid} Sign Out", destroy_emp_session_path, method: :delete %>
    <% else %>
       <span class="button1"><%= link_to "Login", new_emp_session_path, method: :post %></span>
       <span class="button2"><%= link_to "Sign Up", new_emp_registration_path %></span>
    <% end %>
  </span>
</div>
</nav>

<% flash.each do |type,msg| %>
      <div class="alert alert-info"><%= msg %></div>  
<% end %>

<%if current_emp %>
  <%= form_with model: Challenge do |form|%>
    <div class="row mt-5 ml-2 mb-5">
      <div class="col"><b>Title</b>
         <%=form.text_field :title, placeholder: "Title", class: "form-control"%>
      </div>
      <div class="col"><b>Description</b>
         <%=form.text_field :description, placeholder: "Description", class: "form-control"%>
      </div>
     
      <div class="col mt-4 form-control"><b>Tag</b>
         <%=form.select :tag, ['Array','Dynamic Programming','String','Recursion','Queue','Linkedlist','Graphs','Stack','Rails','Ruby'], placeholder: "Tag", class: "form-group"%>
      </div>
      
         <%=form.hidden_field :emp_id, value: current_emp.id%>
      <div class="col mt-4">
         <%=form.submit "Add Challenge", class: "btn btn-primary"%>
      </div>
    </div>
  <% end %>
<% end %>

<% if current_emp %>
  <h1>Challenges</h1>
  <table>
      <tr class="header">
        <th><%= link_to "Challenge Id", :sort => "id" %></th>
        <th><%= link_to "Title", :sort => "title" %></th>
        <th><%= link_to "Votes"%></th>
        <th><%= link_to "Collaborate" %></th>
        <th><%= link_to "Description" %></th>
        <th><%= link_to "Employee" %></th>
        <th><%= link_to "Tags" %></th> 
        <th><%= link_to "Votes Count", :sort => "votes" %></th>
        <th><%= link_to "Created At", :sort => "created_at" %></th>
        <th><%= link_to "Updated At", :sort => "updated_at" %></th>
      </tr>

      <% @challenges.each do |challenge| %>
        <tr>
          <td><%= challenge.id%>
          <td><%= challenge.title %></td>
          <% if current_emp %>
          <td><% if challenge.is_liked(current_emp).present? %>
                  <%=link_to vote_path(challenge.is_liked(current_emp)), method: :delete, remote: :true do%>
                    <i class="fa fa-minus-circle text-dark" aria-hidden="true"></i>
                  <%end%>
              <% else %>
              <%= link_to challenge_votes_path(challenge), method: :post, remote: :true do %>
                    <i class="fa fa-plus-circle text-dark" aria-hidden="true"></i>
              <%end %>  
              <% end %> 
          </td>
          <td><% if challenge.is_collaboration(current_emp).present? %>
                  <%= link_to collaboration_path(challenge.is_collaboration(current_emp)), method: :delete, remote: :true do %>
                    <i class="fa fa-check fa-lg text-dark" aria-hidden="true"></i><%= current_emp.empid %>

                  <% end %>
                <% else %>
                  <%= link_to challenge_collaborations_path(challenge), method: :post, remote: :true do %>
                    <i class="fa fa-times text-dark" aria-hidden="true"></i>
                  <% end %>
                <% end %>
          </td>
          <% end %>
          <td><%= challenge.description %></td>
          <td><p>EO<%= challenge.emp_id %></p></td>
          <td><% challenge.tags.each do |tag| %>
                  <%= tag.name %>
              <% end %>
          </td>
          <td><%= challenge.votes.count%>
          <td><%= challenge.created_at%>
          <td><%= challenge.updated_at%>
                  
        </tr>
      <% end %>
  </table>
<% end %>


<div class="center"><%= will_paginate(@challenges, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) if current_emp %></div>

<br>

<div class="footer">
   @copyright 2021 Navin Ojha
</div>