<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @challenge.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @challenge.description %>
</p>

<p>
  <strong>Tags:</strong>
  <% @challenge.tags.each do |tag| %>
     <%= tag.name %>
  <% end %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @challenge.emp_id %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge), class:"btn btn-dark" %> |
<%= link_to 'Back', challenges_path, class: "btn btn-dark" %>
